In [1]:
import pandas as pd
import numpy as np
from commodities import *

The Commodities are the Assets we are trading. There are a few dataframes we are using.

In [2]:
hard

,value_gold,value_oil,value_silver,value_ruth,value_irid,value_pall,value_rhod,value_plat
Date,,,,,,,,
1992-07-01,343.400,21.90,4.045,32.0,200.0,83.0,2675.0,385.0
1992-07-02,344.300,22.08,4.050,32.0,200.0,84.0,2725.0,389.0
1992-07-03,346.130,22.08,4.060,32.0,200.0,84.0,2725.0,386.0
1992-07-06,346.250,21.87,4.060,32.0,200.0,84.0,2725.0,388.0
1992-07-07,346.550,21.51,4.060,32.0,200.0,83.0,2700.0,383.0
...,...,...,...,...,...,...,...,...
2020-03-25,1617.155,20.75,14.435,250.0,1510.0,2058.0,8250.0,724.0
2020-03-26,1605.405,16.60,14.320,250.0,1510.0,2322.0,10000.0,742.0
2020-03-27,1625.080,15.48,14.520,250.0,1510.0,2369.0,10500.0,743.0
2020-03-30,1620.540,14.10,14.050,260.0,1510.0,2271.0,10700.0,732.0
2020-03-31,1615.885,20.51,14.110,260.0,1520.0,2339.0,10700.0,732.0

The first one, hard, simply has prices from 1992 to present

In [4]:
hard_pct

,pct_gold,pct_oil,pct_silver,pct_ruth,pct_irid,pct_pall,pct_rhod,pct_plat
Date,,,,,,,,
1992-07-01,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000
1992-07-02,0.002621,0.008219,0.001236,0.00,0.000000,0.012048,0.018692,0.010390
1992-07-03,0.005315,0.000000,0.002469,0.00,0.000000,0.000000,0.000000,-0.007712
1992-07-06,0.000347,-0.009511,0.000000,0.00,0.000000,0.000000,0.000000,0.005181
1992-07-07,0.000866,-0.016461,0.000000,0.00,0.000000,-0.011905,-0.009174,-0.012887
...,...,...,...,...,...,...,...,...
2020-03-25,0.026495,-0.013314,0.047533,0.00,0.000000,0.065217,0.500000,0.046243
2020-03-26,-0.007266,-0.200000,-0.007967,0.00,0.000000,0.128280,0.212121,0.024862
2020-03-27,0.012255,-0.067470,0.013966,0.00,0.000000,0.020241,0.050000,0.001348
2020-03-30,-0.002794,-0.089147,-0.032369,0.04,0.000000,-0.041368,0.019048,-0.014805
2020-03-31,-0.002872,0.454610,0.004270,0.00,0.006623,0.029943,0.000000,0.000000

hard_pct is just the percent change in prices from one day to the next.

In [3]:
hard_tech

,macd_gold,rsi_gold,macd_oil,rsi_oil,macd_silver,rsi_silver,macd_ruth,rsi_ruth,macd_irid,rsi_irid,macd_pall,rsi_pall,macd_rhod,rsi_rhod,macd_plat,rsi_plat
Date,,,,,,,,,,,,,,,,
1992-08-17,-2.015020,29.226935,-0.094782,47.454266,-0.035345,35.921756,0.000000,0.000000,0.000000,0.0,-0.338327,37.909067,-52.572359,16.230228,-8.601771,27.342166
1992-08-18,-2.690971,28.547065,-0.078111,49.341053,-0.041041,32.603658,0.000000,0.000000,0.000000,0.0,-0.590327,37.909067,-54.600684,16.230228,-9.632496,25.480748
1992-08-19,-3.166363,29.369062,-0.080911,44.212059,-0.044238,34.239059,0.000000,0.000000,0.000000,0.0,-0.701264,42.469876,-55.567597,16.230228,-10.011183,30.570969
1992-08-20,-3.386270,33.449592,-0.076599,46.218918,-0.046239,34.239059,0.000000,0.000000,0.000000,0.0,-0.780188,42.469876,-55.691901,16.230228,-10.273560,30.018907
1992-08-21,-3.545499,32.999592,-0.089100,41.406624,-0.049673,31.573426,0.000000,0.000000,0.000000,0.0,-0.753361,46.986075,-55.154625,16.230228,-9.883416,37.331384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-25,-15.526724,55.544042,-7.638467,28.285267,-1.201334,41.140392,-0.000014,0.000393,2.605305,100.0,-181.784565,47.506281,-1290.437784,40.052831,-75.214309,39.409258
2020-03-26,-11.004244,53.711742,-7.882448,25.071727,-1.106779,40.375002,-0.000013,0.000393,2.428575,100.0,-137.024775,56.837485,-1092.831525,49.802545,-67.526377,42.512860
2020-03-27,-5.766070,56.310680,-8.073118,24.270320,-1.004131,42.382637,-0.000012,0.000393,2.262436,100.0,-96.645740,58.260015,-885.671846,52.194839,-60.653765,42.688496
2020-03-30,-1.958543,55.535819,-8.240587,23.282790,-0.949758,39.054649,0.797710,99.999801,2.106487,100.0,-71.726031,54.245516,-697.319711,53.156511,-55.455522,41.197451
2020-03-31,0.675543,54.704618,-7.766546,36.256746,-0.891549,39.705541,1.413614,99.999801,2.758019,100.0,-45.960151,56.486076,-541.803712,53.156511,-50.750852,41.197451

hard_tech contains the technical factors studied: the RSI and MACD of each asset